@import url("./normalize.css");
@import url("./header.css");
@import url("./content.css");
@import url("./footer.css");

body {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}